<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SourceDirectory" value="C:\Users\MioAle\Downloads\GettingStartedWithSQLitePart1"/>
    <add key="Destination01" value="C:\Users\MioAle\Downloads\TestBackupForlder"/>
    <add key="Destination02" value=""/>
    <add key="Destination03" value=""/>
    <!--"dddd" for dayname in folder, "dd" for number of day of month, yyyy_MM_dd year month day 2016_06_20-->
    <add key="NameFolderDestinationFormatDate" value="yyyy_MM_dd"/>
    <!--name exe to check if it is open-->
    <add key="exeToTest" value="Calculator"/>
    <!--Name exe to close-->
    <add key="ProgramName" value="calcolatrice"/>
  </appSettings>
</configuration>