<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="SourceDirectory" value="C:\Users\MioAle\Downloads\GettingStartedWithSQLitePart1"/>
    <add key="Destination01" value="C:\Users\MioAle\Downloads\TestBackupForlder"/>
    <add key="Destination02" value=""/>
    <add key="Destination03" value=""/>
    <add key="NameFolderDestinationFormatDate" value="dddd"/>

</appSettings>
</configuration>